
<div class="pageContent">
	<form method="post" action="demo/common/ajaxDone.html" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
		<div class="pageFormContent" layoutH="57">
			<dl>
				<dt>资料标题：</dt>
				<dd><input class="required" name="total" type="text" size="30" /></dd>
			</dl>
			<dl class="nowrap">
				<dt>资料内容：</dt>
				<dd><textarea cols="150" rows="30" class="editor" name="source"></textarea></dd>
			</dl>
			<dl class="nowrap">
				<dt>上传附件：</dt>
				<dd><input type="file" name="source"/></dd>
			</dl>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>
